.gallery,
.title,
.buy-box,
.block-3 {
  border: 3px solid white;
  color: white;
  background-color: rgb(79, 139, 218);
}
.block-1 {
  height: 400px;
  border-bottom: 0;
}
.block-2 {
  flex-basis: 30%;
}
.block-3 {
  height: 100px;
}
.title {
  height: 80px;
}
.block {
  width: 1200px;
}
